body {
    background-color: #c793b8 ;
    
}

}
.hello{
color: #2d0522 ;
font-size: 50 px ;
 text-align: center ;
    
}
.p{
    text-align: center ;
    color: #2d0522 ;
    font-size: 50 px ;
}


footer{
background-color: #604959
}
